* {
  border: 2px cyan;
  font-family: sans-serif;
}

.App-Whole {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-Header {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  background-color: #a5d8ff;
  border: 3px solid black;
  border-radius: 25px;
  text-align: center;
  position: relative;
  flex-direction: column;
}

.App-Search-Button-Proceed {
  background-color: #b2f2bb;
  border: 2px solid black;
  border-radius: 10px;
  position: relative;
  left: 10rem;
  bottom: 1rem;
  margin-top: 1rem;
  padding: .25rem 1rem .25rem 1rem;
  font-size: large;
}

.App-Episode-Log-Wrapper {
  padding: 1rem;
  background-color: #1971c2;
  width: 50%;
  border: 3px solid black;
  border-radius: 25px;
  position: relative;
  margin-top: 3rem;
}

.App-Episode-Log-Body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.App-Episode-Log-Body img {
  height: 10rem;
  border: 1px solid black;
}

.App-Chosen-Header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.App-Chosen-Title {
  padding: 0rem 1rem;
}

.App-Chosen-Title h2 {
  font-size: 2rem;
  margin: 0px;
}

.App-Chosen-Title h3 {
  font-size: 1.5rem;
  margin: 0px;
}

.App-Chosen-Episode {
  display: flex;
  flex-direction: row;
}
.App-Chosen-Episode p {
  padding-right: 1rem;
  font-weight: bold;
}

.App-Chosen-Text {
  border: 3px solid black;
  border-radius: 15px;
  margin-top: 1rem;
  background-color: rgb(230, 230, 230);
  width: 100%;
}

.App-Chosen-Text p {
  padding: .25rem 1rem .25rem 1rem; 
}

.App-Button-Edit {
  position: absolute;
  top: -1.5rem;
  right: 6rem;
  background-color: #a5d8ff;
  border: 3px solid black;
  border-radius: 100px;
}

.App-Button-Delete {
  position: absolute;
  top: -1.5rem;
  right: 2rem;
  background-color: #ffc9c9;
  border: 3px solid black;
  border-radius: 100px;
}